<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
</div>
<div class="item-room">
  <a href="#">商品展開報告</a>
</div>
<div class="sales-floor-room">
  <a href="#">売場変更報告</a>
</div>
<div class="sales-room">
  <a href="#">売上報告</a>
</div>

